.article {
    background-color: beige;
    text-align: center;
}

.title {
    font-size:xx-large;
    padding: 5px;
    font-weight: bold;
}

.heroimage {
    text-align: center;
    height: 500px;
    border-radius: 5px;
}

.content {
    text-align: left;
    padding: 5px;
    font-size: medium;
  }

.author {
    text-align: center;
    font-size: small;
    padding: 2px;
    }

.loading {
    background-color: red;
}

.authorAndDate {
    font-size: small;
}