.navigationLogo {
    justify-content: left;
    height: 100px;
    border-style: groove;
    border-radius: 50%;
    background: white
    }

.navigation {
    display:flex;
    /* background-color: #31aed4; */
    background: rgb(110,147,205);
background: radial-gradient(circle, rgba(110,147,205,1) 0%, rgba(148,205,233,1) 100%);
    padding: 10px;
    justify-content: space-between;
    }

.navigationButtonsContainer {
    display:flex;
    text-decoration: none;
  }

.navigationButton {
    display: flex;
    padding: 15px;
  }

.navigationLink {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    background-color: white;
    border-radius: 5px;
  }