
.backbuttonbackground {
    background-color: beige;
    padding: 5px;
  }

.button {
    color: black;
    background-color: white;
    border-color: white;
    height:30px;
    border-radius: 5px;
  }