.container {
    /* background-color: #84c3d6; */
    /* background: rgb(110,147,205); */
    background: linear-gradient(90deg, rgba(110,147,205,1) 0%, rgba(148,205,233,1) 35%);
    padding: 5px;
    text-align: right ;
}

.socialContainer {
    padding: 5px;
/* background-color: #84c3d6; */
text-align: center;
}

.icon {
padding: 5px;
}